.textGrid{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#FFFFFF;
    align-items: center;
}
.Total{
    color: black;
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: 15.5vw;
}
.inside{
    background-color:#FFFFFF;
    padding: 10%;
}
.textGrid span:nth-child(2){
    text-align: right;
}